body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(153, 154, 170);
}
a {
  color: white;
  text-decoration: none;
}


/* --------------- NAVBAR --------------- */
.Navbar {
  padding: 0 18px;
}
.logo {
  width: 2.5rem;
}
.user {
  display: flex;
  align-items: center;
}
.profile-img-container {
  width: 40px;
}
.profile-img-container img {
  border-radius: 100%;
  width: 100%;
}


/* --------------- HOME --------------- */
.Carousel-container {
}
.Carousel {
  /* text-align: center; is an alternative to center */
  filter: drop-shadow(4px 4px 5px black)
}
.Carousel-item {
}
.Carousel-item > img {
  object-fit: cover;
  height: 80vh;
}
.Carousel-caption {
  background-color: rgb(44, 44, 44);
}


/* --------------- LOGIN --------------- */
.Login {
  margin-top: 10vh;
  max-width: 400px;
  box-shadow: 3px 3px 3px gray;
  background-color: white;
}